  <div class="row justify-content-start  mb-5" style="margin:0">
<!--      <div class="col-md-1"></div>-->
      <div class="col-md-3 offset-md-2 card-description" style="height: 40vh" *ngFor="let client of extractService.clients">
        <div class="card-image d-flex justify-content-center align-items-center">
          <div class="card-circle d-flex justify-content-center align-items-center">
            {{client.companyName.charAt(0)}}
          </div>
        </div>
        <div class="card-info d-flex flex-column align-items-center" style="height: 27vh">
          <div class="mb-auto">
            <h5 class="card-company-title">
              {{client.companyName}}
            </h5>
          </div>
          <div class="card-info-companie">
            <p>
              <fa-icon class="" [icon]="emailIcon"></fa-icon>
              CIF {{client.cifNumber}}
            </p>
            <p>
              <fa-icon class="" [icon]="adressIcon"></fa-icon>
              {{client.adress}}
            </p>
            <p>
              <fa-icon class="" [icon]="personIcon"></fa-icon>
              {{client.ownerName}}
            </p>
          </div>
          <div class="row d-flex justify-content-between" style="width: 100%; ">
            <div class="col-10">
              <button type="button" class="btn btn-danger btn-custom" (click)="createNewInvoice(client._id)">+ Create Invoice</button>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-danger btn-custom" (click)="deleteClient(client._id)">
                <fa-icon [icon]="trashIcon"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>

