table tr td {
  border-bottom: 2px solid #CDCAD0;
}

tr:last-child {
  /*border-bottom: none!important;*/
}

table tr th {
  color: #CDCAD0;
  padding-bottom: 4vh;
}

table tr td {
  color: #363636;
  padding: 1vh 0;
}

.card-circle {
  width: 10vmin;
  height: 10vmin;
  color: #262626;
  background-color: #f2f2f2;
  border-radius: 50%;

  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.card-image {
  text-align: center;
  box-shadow:
    0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  background-color: #eb8f8f;

  height: 20vh;
  width: 100%;
  position: relative;
  margin-top: -7vh;
}

.card-description {
  position: relative;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  margin-top: 10vh;
  /*margin-left: 10vw;*/
  background-color: white;
}

.card-info-companie {
  padding-bottom: 2vh;
}

.card-info-companie p {
  color: #6A6C6E;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.4rem;
}

.card-company-title {
  text-transform: uppercase;
  padding-top: 4vh;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px #c1c1c1;
}

.btn-custom{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2vh;
}

