
table tr td {
  border-bottom: 2px solid #CDCAD0;
}

tr:last-child {
  /*border-bottom: none!important;*/
}

table tr th {
  color: #CDCAD0;
  padding-bottom: 4vh;
}

table tr td {
  color: #363636;
  padding: 1vh 0;
}

table thead tr {
  /*background-color: #FBD7E3;*/
}

.actions-circle {
  color:white;
}

.actions-icon {
  line-height: 6vh;
  padding: 15px 20px;
  background-color: #eb8f8f;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #945555;
}

h3 {
  margin-top: 2vh;
  color: #131313;
  letter-spacing: .15em;
  text-shadow: 1px 1px 1px #767676;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

tr.text-edit td {
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
}

.disabled-anchor {
  pointer-events: auto;
  cursor: not-allowed;
}

