<div class="col-md-12 text-center bg-white my-5">
    <table style="width:100%;" >
        <thead class="pb-5">
          <tr>
            <th class="text-left pl-5"><h3>Name</h3></th>
            <th><h3>User</h3></th>
            <th><h3>Size</h3></th>
            <th><h3>Modified</h3></th>
          </tr>
        </thead>
        <tr class="text-edit" *ngFor="let doc of uploadService.documents">
            <td class="text-left pl-3">{{doc.imageUrl}}</td>
            <td>
              <strong>
                {{doc.fileUser}}
              </strong>
            </td>
            <td>{{doc.imageDesc}}</td>
            <td>{{doc.uploaded}}</td>
            <td>
              <a target="_self" (click)="download(doc._id)" >
                <div class="float-right actions-circle">
                  <fa-icon class="actions-icon" [icon]="downloadIcon"></fa-icon>
                </div>
              </a>
            </td>
            <td>
              <a target="_self" (click)="extract(doc._id)" *ngIf="isPNG(doc.imageUrl)">
                <div class="actions-circle">
                  <fa-icon class="actions-icon" [icon]="extractIcon"></fa-icon>
                </div>
              </a>
              <a target="_self" class="disabled-anchor" *ngIf="!isPNG(doc.imageUrl)">
                <div class="actions-circle">
                  <fa-icon class="actions-icon" [icon]="extractIcon"></fa-icon>
                </div>
              </a>
            </td>
            <td>
              <a target="_self" (click)="deleteFile(doc._id)" >
                <div class="float-right actions-circle">
                  <fa-icon class="actions-icon" [icon]="deleteIcon"></fa-icon>
                </div>
              </a>
            </td>
        </tr>
    </table>
</div>
