.row-custom {
  margin: 5vh 1.5vw 0;
  padding: 5vh 2vw;
  /*height: 20vh;*/
  background-color: #fff;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.steps {
  font-family: 'Poppins', sans-serif;
}

.steps p:first-child {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.steps hr {
  width: 10%;
  margin-left: 0;
  margin-top: 0.5rem;
  border: 1px solid #1b1b1b;
  background-color: #1b1b1b;
}

.steps p:last-child {
  font-size: 0.8rem;
  color: #595959;
  margin-left: 2vw;
}

.form-custom {
  background-color: #EB8F8F!important;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.form-custom label {
  font-weight: bold;
}

/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  width: 100%;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  box-shadow: 0 0 10pt 5pt #EB8F8F;
}

.button-class {
  font-family: 'Poppins', sans-serif;
}

.button-class hr:first-child {
  margin-bottom: 5vh;
}

.button-class hr:last-child {
  margin-top: 5vh;
}

.button-class hr {
  border: 1px solid #1b1b1b;
  background-color: #1b1b1b;
  width: 25%;
}

.card-circle {
  width: 10vmin;
  height: 10vmin;
  color: #262626;
  background-color: #f2f2f2;
  border-radius: 50%;

  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.card-image {
  text-align: center;
  box-shadow:
    0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 6px;
  background-color: #eb8f8f;

  height: 20vh;
  width: 100%;
  position: relative;
  /*margin-top: -7vh;*/
}

.card-info-companie {
  padding-bottom: 2vh;
}

.card-info-companie p {
  color: #6A6C6E;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0.4rem;
}

.card-company-title {
  text-transform: uppercase;
  padding-top: 4vh;
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px #c1c1c1;
}

/*Vertical Line*/
.vr {
  border-left: 2px solid #000000;
  /*border-radius: 6px;*/
  height: 100%;
}

/*Client selected or not*/
.retroshd {
  color: #DC3545;
  background-color: #ffffff;
  letter-spacing: .05em;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}
