<div class="row row-custom mb-5">
  <div class="col-12">
    <div class="steps">
      <p>
        Step Zero
      </p>
      <hr>
      <p>
        ~choose the client~
      </p>
    </div>
    <div class="row">
      <div class="col">
        <h4 class="retroshd" *ngIf="checkingClient">
          Attention: you have already selected a client!
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 offset-md-1">
        <div class="card-image d-flex justify-content-center align-items-center">
          <div class="card-circle d-flex justify-content-center align-items-center">
            <span *ngIf="checkingClient">
              {{currentClient.companyName.charAt(0)}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="checkingClient">
            <div class="mb-auto">
              <h5 class="card-company-title">
                {{currentClient.companyName}}
              </h5>
            </div>
            <div class="card-info-companie">
              <p>
                <fa-icon class="" [icon]="emailIcon"></fa-icon>
                CIF {{currentClient.cifNumber}}
              </p>
              <p>
                <fa-icon class="" [icon]="adressIcon"></fa-icon>
                {{currentClient.adress}}
              </p>
              <p>
                <fa-icon class="" [icon]="personIcon"></fa-icon>
                {{currentClient.ownerName}}
              </p>
            </div>
      </div>
      <div class="col-md-3 d-flex align-items-center" *ngIf="!checkingClient">
        <h1>
          No Client!
        </h1>
      </div>
      <div class="col-md-1">
        <div class="vr"></div>
      </div>
      <div class="offset-md-1 col-md-2 align-items-center d-flex">
        <button type="button" class="btn btn-lg btn-outline-danger button-class" (click)="selectOther()">Select Other Client</button>
      </div>

    </div>
    <div class="steps">
      <p>
        Step One
      </p>
      <hr>
      <p>
        ~complete the necessary information~
      </p>
    </div>
    <form class="row-custom form-custom" id="formExtraValues" [formGroup]="newInvoiceForm" novalidate>
      <div class="row">
        <div class="col form-group">
          <label for="itemService">Item/Service offered</label>
          <input type="text" class="form-control" placeholder="Item or Service" id="itemService" formControlName="item">
        </div>
        <div class="col form-group">
          <label for="quantity">Quantity</label>
          <input type="text" class="form-control" placeholder="Quantity" id="quantity" formControlName="quantity">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-4 form-group">
          <label for="value">Value of items/services</label>
          <input type="text" class="form-control" placeholder="Total" id="value" formControlName="value">
        </div>
        <div class="form-group col-md-4">
          <label for="inputUnit">Unit</label>
          <select id="inputUnit" class="form-control" formControlName="unit">
            <option selected>Choose...</option>
            <option>$</option>
            <option>€</option>
            <option>RON</option>
          </select>
        </div>
      </div>

    </form>
    <div class="steps" style="margin-top: 4vh">
      <p>
        Step Two
      </p>
      <hr>
      <p>
        ~pick the desired template~
      </p>
    </div>
    <form [formGroup]="radioForm">
      <div class="row justify-content-center" style="margin-left: 1.5vw">
        <div class="col-md-3 custom-control custom-radio">
          <label>
            <input type="radio" name="template" [value]="0" formControlName="template" checked>
            <img src="../../assets/images/invoiceTemplate1.png" alt="invoiceTemplate1">
          </label>
        </div>
        <div class="col-md-3 custom-control custom-radio">
          <label>
            <input type="radio" name="template" [value]="1" formControlName="template">
            <img src="../../assets/images/invoiceTemplate2.png" alt="invoiceTemplate2">
          </label>
        </div>
        <div class="col-md-3 custom-control custom-radio">
          <label>
            <input type="radio" name="template" [value]="2" formControlName="template">
            <img class="img-fluid" src="../../assets/images/invoiceTemplate3.png" alt="invoiceTemplate3">
          </label>
        </div>
      </div>
      <div class="steps" style="margin-top: 4vh">
        <p>
          Step Three
        </p>
        <hr>
        <p>
          ~generate invoice and export|import it to database~
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 text-center button-class">
          <hr>
          <button type="submit" form="formExtraValues" class="btn btn-lg btn-outline-success" *ngIf="!checkData()" (click)="createPdf()" disabled>+Generate Invoice</button>
          <button type="submit" form="formExtraValues" class="btn btn-lg btn-outline-success" *ngIf="checkData()" (click)="createPdf()">+Generate Invoice</button>
          <hr>
        </div>
      </div>
    </form>

  </div>
</div>
