﻿<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav-nav" mode="side" [(opened)]="opened">
    <div class="navbar-header">
      <a class="sidenav-brand" href="./"><img src="../../assets/images/logo3.png" alt="Logo"></a>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['main']">
        <fa-icon [icon]="mainPage"></fa-icon>
        Main
      </a>
      <h3 class="sidenav-categories">
        DOCUMENTS
      </h3>
      <a mat-list-item [routerLink]="['import']">
        <fa-icon id="iconToHover" [icon]="fileUpload"></fa-icon>
        Import
      </a>
<!--      <a mat-list-item [routerLink]="['export']">-->
<!--        <fa-icon [icon]="fileExport"></fa-icon>-->
<!--        Export-->
<!--      </a>-->
      <a mat-list-item [routerLink]="['view']">
        <fa-icon [icon]="viewFiles"></fa-icon>
        View
      </a>
      <h3 class="sidenav-categories">
        PDF
      </h3>
      <a mat-list-item [routerLink]="['creator']">
        <fa-icon [icon]="pdfCreator"></fa-icon>
        Creator
      </a>
      <h3 class="sidenav-categories">
        Extras
      </h3>
      <a mat-list-item [routerLink]="['invoice']">
        <fa-icon [icon]="invoiceGenerator"></fa-icon>
        Clients
      </a>
      <a mat-list-item [routerLink]="['profile']">
        <fa-icon [icon]="userProfile"></fa-icon>
        User Profile
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header">
      <button (click)="sidenav.toggle()" type="button" class="btn btn-outline-danger">
        <fa-icon [icon]="sidenavToggle"></fa-icon>
      </button>
      <button type="button" class="btn">
        <fa-icon [icon]="searchTool"></fa-icon>
      </button>
      <button type="button" class="btn">
        <fa-icon [icon]="mailNotification"></fa-icon>
        <span class="badge badge-pill badge-danger">9</span>
      </button>
      <button class="btn float-right dropdown-toggle dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="user-avatar" src="../../assets/images/admin.jpg" alt="User Avatar">
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <h1 class="dropdown-header text-center">Welcome, user</h1>
        <a class="dropdown-item" [routerLink]="['/profile']">User Profile</a>
        <a class="dropdown-item" [routerLink]="['/login']">Logout</a>
      </div>
      <button type="button" class="btn float-right">
        <fa-icon [icon]="flag"></fa-icon>
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<router-outlet></router-outlet>-->
