mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  background: #272c33;
  width: 280px;
  padding: 0 25px;
}

mat-sidenav-content {
  background-color: #F1F2F7;
}

.sidenav-brand {
  border-bottom: 1px solid #4e4e52;
  color: #f1f2f7 !important;
  /*font-family: 'Open Sans';*/
  font-size: 22px;
  float: none;
  line-height: 60px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  display: block;
  min-height: 69px;
  padding: 0;

  justify-content: center;
  align-items: center;
  position: relative;
}

.sidenav-brand img {
  max-width: 160px;
}

.sidenav-header {
  float: none;
  text-align: center;
  width: 100%;
}

.sidenav-nav mat-nav-list > a {
  padding: 10px 0;
  line-height: 30px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #d7d9e3;
  transition: all 0.25s ease;
}

/*.sidenav-nav mat-nav-list fa-icon {*/
/*  transition: all 0.25s ease;*/
/*}*/

.sidenav-nav mat-nav-list > a:hover {
  color: white!important;
}

.sidenav-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav-nav .sidenav-categories {
  border-bottom: 1px solid #4e4e52;
  color: #9496a1;
  clear: both;
  display: block;
  /*font-family: 'Open Sans', serif;*/
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  padding: 15px 0 0;
  text-transform: uppercase;
  width: 100%;
}

mat-nav-list fa-icon {
  color: #8b939b;
  width: 50px;
}

/*-----------Header-----------*/

mat-sidenav-content .header {
  background-color: #ffffff;
  padding: 15px 20px 13px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

mat-sidenav-content .header .btn {
  border-radius: 200px!important;
}

mat-sidenav-content .user-avatar {
  width: 32px;
  border-radius: 50%;
  /*margin-top: 4px;*/
}
