<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav-nav" mode="side" [(opened)]="opened">
        <div class="navbar-header">
            <a class="sidenav-brand" href="./"><img src="../../assets/images/logo3.png" alt="Logo"></a>
        </div>
        <mat-nav-list>
            <a mat-list-item href="">
                <fa-icon [icon]="mainPage"></fa-icon>
                Main
            </a>
            <h3 class="sidenav-categories">
                DOCUMENTS
            </h3>
            <a mat-list-item [routerLink]="['gallery']">
                <fa-icon id="iconToHover" [icon]="fileUpload"></fa-icon>
                Import
            </a>
            <a mat-list-item href="index.html">
                <fa-icon [icon]="fileExport"></fa-icon>
                Export
            </a>
            <a mat-list-item [routerLink]="['view']">
              <fa-icon [icon]="viewFiles"></fa-icon>
              View
            </a>
            <h3 class="sidenav-categories">
                PDF
            </h3>
            <a mat-list-item href="index.html">
                <fa-icon [icon]="pdfCreator"></fa-icon>
                Creator
            </a>
            <h3 class="sidenav-categories">
                Extras
            </h3>
            <a mat-list-item href="index.html">
                <fa-icon [icon]="invoiceGenerator"></fa-icon>
                Meta-info Extraction
            </a>
            <a mat-list-item href="index.html">
                <fa-icon [icon]="userProfile"></fa-icon>
                User Profile
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="header">
            <button (click)="sidenav.toggle()" type="button" class="btn btn-outline-danger">
                <fa-icon [icon]="sidenavToggle"></fa-icon>
            </button>
            <button type="button" class="btn">
                <fa-icon [icon]="searchTool"></fa-icon>
            </button>
            <button type="button" class="btn">
                <fa-icon [icon]="mailNotification"></fa-icon>
                <span class="badge badge-pill badge-danger">9</span>
            </button>
          <img class="user-avatar float-right" src="../../assets/images/admin.jpg" alt="User Avatar">
          <button type="button" class="btn float-right">
              <fa-icon [icon]="flag"></fa-icon>
            </button>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
