<div class="page-content page-container" id="page-content">
  <div class="padding container">
    <div class="row justify-content-start">
      <div class="col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile text-center justify-content-center">
              <div class="card-block text-center text-white">
                <div class="m-b-25"> <img src="../../assets/images/user-photo.png" class="img-radius img-fluid" alt="User-Profile-Image"> </div>
                <h6 class="f-w-600">{{currentUser.username}}</h6>
                <p>User</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">User profile</h6>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Nume</p>
                    <h6 class="text-muted f-w-400">{{currentUser.lastName}}</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Prenume</p>
                    <h6 class="text-muted f-w-400">{{currentUser.firstName}}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p class="m-b-10 f-w-600">Email</p>
                    <h6 class="text-muted f-w-400">example@example.com</h6>
                  </div>
                  <div class="col-sm-12">
                    <p class="m-b-10 f-w-600">Telefon</p>
                    <h6 class="text-muted f-w-400">+40 000 000 000</h6>
                  </div>
                </div>
                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Home Adress</h6>
                <div class="row">
                  <div class="col-sm-12">
                    <h6 class="text-muted f-w-400">
                      Adress Example
                    </h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Judet</p>
                    <h6 class="text-muted f-w-400">---</h6>
                  </div>
                  <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Oras</p>
                    <h6 class="text-muted f-w-400">---</h6>
                  </div>
                </div>
                <ul class="social-link list-unstyled m-t-40 m-b-10">
                  <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
