<div class="page-wrapper">

  <!-- PAGE CONTAINER-->
  <div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
      <div class="section__content section__content--p30">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="overview-wrap">
                <h2 class="title-1">overview</h2>

              </div>
            </div>
          </div>
          <div class="row m-t-25">
            <div class="col-sm-6 col-lg-3" style="padding: 0 20px">
              <div class="overview-item overview-item--c1">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-account-o"></i>
                    </div>
                    <div class="text">
                      <h2>7</h2>
                      <span>Users</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart1"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="padding: 0 20px">
              <div class="overview-item overview-item--c2">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                    <div class="text">
                      <h2>73</h2>
                      <span>Generated</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="padding: 0 20px">
              <div class="overview-item overview-item--c3">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                    <div class="text">
                      <h2>14</h2>
                      <span>PDF</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart3"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="padding: 0 20px">
              <div class="overview-item overview-item--c4">
                <div class="overview__inner">
                  <div class="overview-box clearfix">
                    <div class="icon">
                      <i class="zmdi zmdi-money"></i>
                    </div>
                    <div class="text">
                      <h2>7</h2>
                      <span>Extractions</span>
                    </div>
                  </div>
                  <div class="overview-chart">
                    <canvas id="widgetChart4"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 pr-3">
              <div class="au-card recent-report">
                <div class="au-card-inner">
                  <h3 class="title-2">Extraction VS Invoices</h3>
                  <div class="chart-info">
                    <div class="chart-info__left">
                      <div class="chart-note">
                        <span class="dot dot--blue"></span>
                        <span>Extraction</span>
                      </div>
                      <div class="chart-note mr-0">
                        <span class="dot dot--green"></span>
                        <span>Invoices</span>
                      </div>
                    </div>
                    <div class="chart-info__right">
                      <div class="chart-statis">
                                                    <span class="index incre">
                                                        <i class="zmdi zmdi-long-arrow-up"></i>25%</span>
                        <span class="label">extractions</span>
                      </div>
                      <div class="chart-statis mr-0">
                                                    <span class="index decre">
                                                        <i class="zmdi zmdi-long-arrow-down"></i>10%</span>
                        <span class="label">invoices</span>
                      </div>
                    </div>
                  </div>
                  <div class="recent-report__chart">
                    <canvas id="recent-rep-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 pl-3">
              <div class="au-card chart-percent-card">
                <div class="au-card-inner">
                  <h3 class="title-2 tm-b-5">char by %</h3>
                  <div class="row no-gutters">
                    <div class="col-xl-6">
                      <div class="chart-note-wrap">
                        <div class="chart-note mr-0 d-block">
                          <span class="dot dot--blue"></span>
                          <span>Ectractions</span>
                        </div>
                        <div class="chart-note mr-0 d-block">
                          <span class="dot dot--red"></span>
                          <span>Invoices</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="percent-chart">
                        <canvas id="percent-chart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
  </div>

</div>
