.dropzone {
    background-color: white;
    border: dashed 5px #9496a1;
    padding: 10vh 0;
    height: 70vh;

}

.dropzone-icon {
    font-size: 60px;
}

.row {
    margin: 10vh 0 0;
}


/* Structure */
/*.upload-container {*/
/*  position: relative;*/
/*  padding: 5px;*/
/*}*/

/*.example-form {*/
/*  min-width: 150px;*/
/*  max-width: 500px;*/
/*  width: 100%;*/
/*}*/

.upload-container .full-width {
  width: 100%;
}

/*.example-full-width:nth-last-child(0) {*/
/*  margin-bottom: 10px;*/
/*}*/

/*.mat-flat-button {*/
/*  margin: 5px;*/
/*}*/

.button-row .second-btn {
  margin-left: 1vw;
}
