<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <div class="dropzone">
          <fa-icon class="dropzone-icon" [icon]="uploadCloud"></fa-icon>
          <h3 class="my-4">Drag & Drop Files here</h3>
          <h3 class="mb-5"><strong>or</strong></h3>
        <div class="upload-container justify-content-center d-flex">
          <form class="" [formGroup]="galleryForm" (ngSubmit)="onFormSubmit()">
            <mat-form-field style="text-align:center">
              <div>
                <button type="button" class="btn btn-outline-dark btn-lg">
                  <ngx-mat-file-input #removableInput formControlName="imageFile" placeholder="" valuePlaceholder="Browse Files"
                                      [errorStateMatcher]="matcher">
                  </ngx-mat-file-input>
                </button>
              </div>
              <mat-error>
                <span *ngIf="!galleryForm.get('imageFile').valid">Please select image file</span>
              </mat-error>
            </mat-form-field>
            <div>
              <button type="submit" class="btn btn-outline-primary" *ngIf="!removableInput.empty">
                Save File
              </button>
              <button class="second-btn btn btn-outline-secondary" matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
                Cancel
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
</div>

